section{
    padding: 50px 0px;
}
.container{
    width: 80%;
    margin: auto;
    text-align: center;
}

.title p{
    color: #4154f1;
    font-size: 24px;
}


h2, h3{
    color:  #012970;
}

.up{
    margin-bottom: 50px;
}
.up .values{
    border: 1px solid rgba(192, 192, 192, 0.252);
    width: 30%;
    display: inline-block;
    padding: 40px 0px;
}


.up .values p{
    color: #444444;
    padding: 0px 30px;
}
.up .values img{
    width: 70%;
}

/* ============================================== */


.down .info{
    border: 1px solid rgba(192, 192, 192, 0.252);
    width: 20%;
    display: inline-block;
    padding: 0px 20px;
}

.down .info img{
    width: 15%;
}

.down .info div{
    display: inline-block;
    width: 70%;
    text-align: left;
    padding: 0px 20px;
}
